{{ kvm_host.ip }}   api.test.lab.local lab.local api-int.test.lab.local
172.16.0.100        bootstrap.test.lab.local
172.16.0.101        master-0.test.lab.local etcd-0.test.lab.local
172.16.0.102        master-1.test.lab.local etcd-1.test.lab.local
172.16.0.103        master-2.test.lab.local etcd-2.test.lab.local
172.16.0.104        worker-0.test.lab.local
172.16.0.105        worker-1.test.lab.local

