{{ kvm_host.ip }}     api.{{ net.subdomain }} {{ net.domain }} api-int.{{ net.subdomain }}
{{ bootstrap.0.ip }}    {{ bootstrap.0.name }}.{{ net.subdomain }}
{% for m in master %}
{{ m.ip }}            {{ m.name }}.{{ net.subdomain }} etcd-0.{{ net.subdomain }}
{% endfor %}
{% for w in worker %}
{{ w.ip }}            {{ w.name }}.{{ net.subdomain }}
{% endfor %}
