{{ kvm_host.ip }}     api.{{ net.subdomain }}.{{ net.domain }} {{ net.domain }} api-int.{{ net.subdomain }}.{{ net.domain }}
{{ bootstrap.0.ip }}  {{ bootstrap.0.name }} {{ bootstrap.0.name }}.{{ net.subdomain }}.{{ net.domain }}
{% for m in master %}
{{ m.ip }}            {{ m.name }} {{ m.name }}.{{ net.subdomain }}.{{ net.domain }} etcd-{{ m.etcd_id }}.{{ net.subdomain }}.{{ net.domain }}
{% endfor %}
{% for w in worker %}
{{ w.ip }}            {{ w.name }} {{ w.name }}.{{ net.subdomain }}.{{ net.domain }}
{% endfor %}
{% for s in storage %}
{{ s.ip }}            {{ s.name }} {{ s.name }}.{{ net.subdomain }}.{{ net.domain }}
{% endfor %}
