---
kvm_host:
# kvm host ip and NIC's name
# e.g. 192.168.86.100, enp2s0f0
  ip: <IP addr>
  if: <IF name>

ocp:
# --- 4.2 ---------------
#  version: 4.2.0
#  version_dir: 4.2/4.2.0
#  latest_version: 4.2.16
# --- 4.3 ---------------
#  version: 4.3.0
#  version_dir: 4.3/4.3.0
#  latest_version: 4.3.0
# --- 4.4 ---------------
#  version: 4.4.3
#  version_dir: 4.4/4.4.3
#  latest_version: 4.4.11
# --- 4.5 ---------------
  version: 4.5.2
  version_dir: 4.5/4.5.2
  latest_version: 4.5.2


key:
# pullsecret: '{"auths":{"cloud.openshift.com"......}}'
# sshkey: '<your ssh pub key>'
  pullsecret: ''
  sshkey: ''

