apiVersion: v1
baseDomain: {{ net.domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: {{ spec_worker.num_worker }}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ spec_master.num_master }}
metadata:
  name: {{ net.subdomain }}
networking:
  clusterNetwork:
{% for n in cluster_net %}
  - cidr: {{ n.cluster_cidr }}
    hostPrefix: {{ n.cluster_prefx }}
{% endfor %}
  networkType: {{ net.cluster_net_type }}
  serviceNetwork:
  - {{ net.service }}
platform:
  none: {}
pullSecret: '{{ key.pullsecret }}'
sshKey: '{{ key.sshkey}}'
