apiVersion: v1
baseDomain: {{ net.domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: {{ spec_worker.num }}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ spec_master.num }}
metadata:
  name: {{ net.subdomain }}
networking:
  clusterNetworks:
  - cidr: {{ net.cluster_cidr }}
    hostPrefix: {{ net.cluster_prefx }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ net.service }}
platform:
  none: {}
pullSecret: '{{ enc.pullsecret }}'
sshKey: '{{ enc.sshkey}}'
