# nginx
user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

include /usr/share/nginx/modules/*.conf;

events {
    worker_connections 1024;
}

stream {
log_format basic '$remote_addr [$time_local] '
                 '$protocol $status $bytes_sent $bytes_received '
                 '$session_time "$upstream_addr" '
                 '"$upstream_bytes_sent" "$upstream_bytes_received" "$upstream_connect_time"';

    upstream apib {
            least_conn;
            server bootstrap.test.lab.local:6443;
            server master-0.test.lab.local:6443;
            server master-1.test.lab.local:6443;
            server master-2.test.lab.local:6443;
#            server 172.16.0.100:6443 fail_timeout=10s;
#            server 172.16.0.101:6443 fail_timeout=10s;
#            server 172.16.0.102:6443 fail_timeout=10s;
#            server 172.16.0.103:6443 fail_timeout=10s;
    }

    server {
            listen          6443;
            proxy_pass      apib;
            proxy_next_upstream on;
#            proxy_ssl       on;
            proxy_timeout   1s;
            proxy_responses 1;
            error_log /var/log/nginx/stream_apib.log warn;
    }

    upstream configureb {
            least_conn;
            server bootstrap.test.lab.local:22623;
            server master-0.test.lab.local:22623;
            server master-1.test.lab.local:22623;
            server master-2.test.lab.local:22623;
#            server 172.16.0.100:22623 fail_timeout=10s;
#            server 172.16.0.101:22623 fail_timeout=10s;
#            server 172.16.0.102:22623 fail_timeout=10s;
#            server 172.16.0.103:22623 fail_timeout=10s;
    }

    server {
            listen          22623;
            proxy_pass      configureb;
            proxy_next_upstream on;
#            proxy_protocol  on;
#            proxy_ssl       on;
#            proxy_ssl_session_reuse off;
#            proxy_timeout   1s;
#            proxy_responses 1;
            error_log /var/log/nginx/stream_configureb.log warn;
    }
    upstream ingressnosslb {
            least_conn;
            server master-0.test.lab.local:80;
            server master-1.test.lab.local:80;
            server master-2.test.lab.local:80;
            server worker-0.test.lab.local:80;
            server worker-1.test.lab.local:80;
    }

    server {
            listen          80;
            proxy_pass      ingressnosslb;
            proxy_next_upstream on;
            proxy_timeout   1s;
            proxy_responses 1;
            error_log /var/log/nginx/stream_ingressnosslb.log warn;
    }

    upstream ingresssslb {
            least_conn;
            server master-0.test.lab.local:443;
            server master-1.test.lab.local:443;
            server master-2.test.lab.local:443;
            server worker-0.test.lab.local:443;
            server worker-1.test.lab.local:443;
    }

    server {
            listen          443;
            proxy_pass      ingresssslb;
            proxy_next_upstream on;
            proxy_timeout   1s;
            proxy_responses 1;
            error_log /var/log/nginx/stream_ingresssslb.log warn;
    }
}

http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;

    include /etc/nginx/conf.d/*.conf;

    server {
        listen       8000 default_server;
        listen       [::]:8000 default_server;
        server_name  _;
        root         /usr/share/nginx/html;

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        location / {
        }

        error_page 404 /404.html;
            location = /40x.html {
        }

        error_page 500 502 503 504 /50x.html;
            location = /50x.html {
        }
    }
}

