---
# want fix: FCOS has a different checksum provision method
#           and cannot be handled by the same logic as RHCOS.
- name: download coreos kernel
  get_url:
    url: "{{ url.coreos_kernel_url }}"
    dest: "{{ files.base }}/dependencies/{{ config.coreos_kernel }}"
    checksum: "sha256:{{ url.sha256_kernel_url }}"
  register: downloaded_kernel
  until: downloaded_kernel is succeeded
  retries: 3

- name: download coreos initramfs
  get_url:
    url: "{{ url.coreos_initramfs_url }}"
    dest: "{{ files.base }}/dependencies/{{ config.coreos_initramfs }}"
    checksum: "sha256:{{ url.sha256_initramfs_url }}"
  register: downloaded_initramfs
  until: downloaded_initramfs is succeeded
  retries: 3

- name: download coreos bios
  get_url:
    url: "{{ url.coreos_bios_url }}"
    dest: "{{ files.base }}/dependencies/{{ config.coreos_bios }}"
    checksum: "sha256:{{ url.sha256_bios_url }}"
  register: downloaded_bios
  until: downloaded_bios is succeeded
  retries: 3

- name: download coreos bios signature
  get_url:
    url: "{{ url.coreos_bios_url }}.sig"
    dest: "{{ files.base }}/dependencies/{{ config.coreos_bios }}.sig"
  register: downloaded_bios_sig
  until: downloaded_bios_sig is succeeded
  retries: 3
  when: openshift.dist == "okd"

- name: download coreos rootfs
  get_url:
    url: "{{ url.coreos_rootfs_url }}"
    dest: "{{ files.base }}/dependencies/{{ config.coreos_rootfs }}"
    checksum: "sha256:{{ url.sha256_rootfs_url }}"
  register: downloaded_rootfs
  until: downloaded_rootfs is succeeded
  retries: 3
  when:
    - openshift.use_rootfs == true

- name: download coreos rootfs signature
  get_url:
    url: "{{ url.coreos_rootfs_url }}.sig"
    dest: "{{ files.base }}/dependencies/{{ config.coreos_rootfs }}.sig"
  register: downloaded_rootfs_sig
  until: downloaded_rootfs_sig is succeeded
  retries: 3
  when:
    - openshift.use_rootfs == true
    - openshift.dist == "okd"

- name: download openshift installer
  get_url:
    url: "{{ url.openshift_installer_url }}"
    dest: "{{ files.base }}/clients/{{ config.openshift_installer }}"
    checksum: "sha256:{{ url.sha256_client_url }}"
  register: downloaded_installer
  until: downloaded_installer is succeeded
  retries: 3

- name: download openshift client
  get_url:
    url: "{{ url.openshift_client_url }}"
    dest: "{{ files.base }}/clients/{{ config.openshift_client }}"
    checksum: "sha256:{{ url.sha256_client_url }}"
  register: downloaded_client
  until: downloaded_client is succeeded
  retries: 3

- name: download helm client
  get_url:
    url: "{{ url.helm_client }}"
    dest: "{{ files.base }}/clients/helm.tar.gz"
    checksum: "sha256:{{ url.sha256_helm_url }}"
  register: downloaded_helm_client
  until: downloaded_helm_client is succeeded
  retries: 3

#- name: send helm client
#  unarchive:
#    src: "{{ files.base }}/clients/helm.tar.gz"
#    dest: /root/bin
#    exclude:
#      - README.md
#      - LICENSE
#    extra_opts: ['--strip-components=1', '--show-stored-names']

- name: download rocky image
  get_url:
    url: "{{ url.rocky_url }}"
    dest: "{{ files.rocky }}/Rocky-8-GenericCloud-Base-8.9-20231119.0.x86_64.qcow2"
    # checksum: "sha256:{{ url.sha256_rocky_url }}"
    checksum: "sha256:d17f15a7649dd064795306c114b90fc5062e7d5fefa9e9f0bd6b7ce1aeac3ae5"
  register: downloaded_rocky
  until: downloaded_rocky is succeeded
  retries: 3
  when: 
    - ff_provision_storage is defined
    - ff_provision_storage == true
