<network>
  <name>openshift</name>
  <bridge name='openshift0' stp='yes' delay='0'/>
  <forward dev='{{ kvm_host.if }}' mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
    <interface dev='{{ kvm_host.if }}'/>
  </forward>
{% if use_ext_dns==true %}
  <dns>
{% for dns in ext_dns %}
    <forwarder domain='{{ dns.domain }}' addr="{{ dns.addr }}"/>
{% endfor %}
  </dns>
{% endif %}
<ip address='{{ libvirt_nat.router }}' netmask='{{ libvirt_nat.netmask }}'>
    <dhcp>
      <range start='{{libvirt_nat.dhcp_start }}' end='{{libvirt_nat.dhcp_end }}'/>
      <bootp file='http://{{ libvirt_nat.router }}:8000/ipxe/boot.ipxe'/>
      <host mac='52:54:00:00:01:{{ bootstrap.0.mac }}' ip='{{ bootstrap.0.ip }}' name='{{ bootstrap.0.name}}.{{ net.subdomain }}.{{ net.domain }}'/>.
{% for m in master %}
      <host mac='52:54:00:00:01:{{ m.mac }}' ip='{{ m.ip }}' name='{{ m.name }}.{{ net.subdomain }}.{{ net.domain }}'/>.
{% endfor %}
{% for w in worker %}
      <host mac='52:54:00:00:01:{{ w.mac }}' ip='{{ w.ip }}' name='{{ w.name }}.{{ net.subdomain }}.{{ net.domain }}'/>.
{% endfor %}
    </dhcp>
  </ip>
</network>
